.mh-menu {
    margin: 0 auto;
    height: 75%;
    width: 90%;
    position: relative;
    transform: translateY(80px);
}

.mh-menu li {

    width: 300px;
}

.mh-menu li a {
    display: block;
    width: 280px;
    padding: 0px 10px;
    text-align: right;
    position: relative;
    z-index: 10;
    height: 97px;
    border-right: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.8);
}

.mh-menu li:nth-child(1):hover a {
    background-color: rgba(174, 54, 55, 0.9);
}

.mh-menu li:nth-child(2):hover a {
    background-color: rgba(195, 210, 67, 0.9)
}

.mh-menu li:nth-child(3):hover a {
    background-color: rgba(211, 132, 57, 0.9);
}

.mh-menu li:nth-child(4):hover a {
    background-color: rgba(142, 116, 99, 0.9);
}

.mh-menu li:nth-child(5):hover a {
    background-color: rgba(0, 191, 255, 0.9);
}

.mh-menu li:nth-child(6):hover a {
    background-color: rgba(147, 112, 219, 0.9);
}

.mh-menu li a span {
    display: block;
}

.mh-menu li a span:first-child {
    display: inline-block;
    padding: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #ddd;
    padding-top: 10px;
    font-family: 'Alegreya SC', Georgia, serif;
}

.mh-menu li a span:nth-child(2) {
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    font-family: 'Alegreya SC', Georgia, serif;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.mh-menu li:hover span:nth-child(2) {
    color: #fff;
}

.mh-menu li img {
    width: 40%;
    height: 98%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    -moz-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    -o-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    -ms-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
}

.mh-menu li .page4-content {
    width: 35%;
    height: 100%;
    position: absolute;
    z-index: 1;
    line-height: 40px;
    left: 0px;
    top: 50px;
    opacity: 0;
    font-size: 30px;
    font-family: serif;
    -webkit-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    -moz-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    -o-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    -ms-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
    overflow: hidden;
}

.mh-menu li:hover img {
    left: 22%;
    opacity: 0.7;
}

.mh-menu li:hover .page4-content {
    left: 63%;
    opacity: 1;
}

.introduce {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 35.7%;
    height: 74%;
    box-shadow: 0 0 5px 6px white;
}

.introduce h3 {
    font-size: 2.2em;
    line-height: 2.2em;
}

.introduce p {
    font-size: 1.5em;
    line-height: 2.2em;
    font-family: fantasy;
}

.introduce p + p {
    line-height: 2.2em;
    font-size: 2em;
    color: coral;
    font-family: monospace;
}
